@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    display: flex;

    width: 100vw;
    height: 100vh;

    margin-top: 1.5em;

    overflow-x: hidden;

    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* header */

header {
    display: flex;
    flex-direction: column;


    width: 100vw;
    height: 100vh;  

    padding-left: 1.5em;
    margin-top: 1.2em;

}

.div-header {
    border-right: 1px  solid rgba(0, 0, 0, 0.123);

    width: 20em;
    height: 100vh;

}


header .logo {
    width: 8em;
}


.icones {
    display: flex;
    flex-direction: column;
    margin-top: 1.3em;
}


.icones li{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    
}

.icones a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    font-size: 0.90em;
}
    
.icone-home {
    width: 1.8em;
    margin-right: 10px;
}

.icone-pesquisa {
    width: 1.4em;
    margin-right: 10px;
}

.icone-explorar {
    width: 1.7em;
    margin-right: 10px;
}

.icone-reels {
    width: 1.4em;
    margin-right: 10px;
}

.icone-mensagens {
    width: 1.4em;
    margin-right: 10px;
}

.icone-notificacoes {
    width: 1.6em;
    margin-right: 10px;
}

.icone-criar {
    width: 1.6em;
    margin-right: 10px;
}

.icone-perfil {
    width: 1.8em;
    margin-right: 10px;
}

.paginainicial {
    color: black;
    font-size: 1.1em;
}

/* main */

main {
    display: flex;
}

.div-main {
    width: 27em;
}

.story {

    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 10px;
    padding: 16px 0px;
    padding-top: 25px;
    
    height: 4em;
}


.story ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-story {
    width: 4.4em;

}


.publi {
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 10px;
    
    width: 27em;

    margin-top: 1.2em;
}

.perfil-publi {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(0, 0, 0, 0.123);

    padding: 5px 0;
}

.perfil-publi li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-publi {
    width: 3.5em;
}

.pontos-publi {
   padding-bottom: 20px;
   font-size: 2em;
   margin-right: .60em;
}

.mid-publi {
    width: auto;
    height: 26em;
}

.img-publi {
    width: 100%;
    height: 100%;

    background-size: cover;
}


.interacao {
    display: flex;
    align-items: center;
    

    border-top: 1px solid rgba(0, 0, 0, 0.123);
}

.interacao li {
    margin-right: 1.1em;
    margin-top: 7px;
}

.icon {
    width: 1.5em;
}

.iconm {
    width: 1.2em;
}

.iconm-last {
    width: 1.2em;
    margin-left: 235px;
}

.last-publi {
    margin: 1.1em;
    margin-bottom: 0;
}

.infos {
    padding-left: 18px;
}

.text-publi {
    margin: 1.1em 1.1em 1.1em 0;

    font-size: .99em;
    
}

.a-text-publi {
    font-size: 1.1em;
}

.text-comentarios  a{
    color: rgba(0, 0, 0, 0.5);
}

.meu-perfil ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-perfil3 {
    width: 4em;
}


.text-comentarios {
    margin-bottom: 1.3em;
}

.comente {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 3.5em;

    margin-bottom: 0;

    border-top: 1px solid rgba(0, 0, 0, 0.123);
    
}

.emoji {
    width: 1.5em;
    margin-top:1px;
    padding-left: 18px;
}

.input {
    border: none;

    margin-right: 9em;
    
}

.input:focus {
    outline: none;
}

.comente a {
    padding-right: 10px;

    color: rgb(0, 150, 250);
} 

/* footer */

footer {
   display: flex;
   align-items: flex-start;
   justify-content: left;

   width: 100vw;

   margin-top: 1.1em;

   margin-left: 2em;
}

.meu-perfil {

    width: 30vw;
}

.meu-perfil ul {
    width: 30vw;
    justify-content: left;
}

.name-perfil li{
    margin-left: 15px;

    font-size: 0.90em;
}

.mudar{
    margin-left: 10.1em;
    color: rgb(0, 150, 250);

    font-size: 0.90em;
}

.img-perfl2 {
    width: 3.5em;
}


.sugestoes {
    width: 30vw;
}

.ver-mais {
    display: flex;
    
    margin-bottom: 1.5em;
}

.colorsuges {
    color: rgba(102, 102, 102, 0.829);
    font-size: .99em;
}

.ver-tudo {
    margin-left: 7em;

    font-size: 0.90em;
}

.perfis {

    margin-bottom: 15px;
}

.perfis ul {
    display: flex;
    align-items: center;
}

.perfis li {
    display: flex;
    align-items: center;
}

.perfis li p {
    margin-left: .80em;

    font-size: .99em;
}

.img-perfis {
    width: 1.7em;
}

.seguir {
    margin-left: 10em;
    color: rgb(0, 150, 250);
    
    font-size: 0.90em;
}

