@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em;

    overflow-x: hidden;

}

/* header */

header {
    display: flex;
    flex-direction: column;

    width: 13em;
    height: 100vh;

    border-right: 1px solid rgba(0, 0, 0, 0.123);
}

header .logo {
    width: 8em;
}


.icones {
    display: flex;
    flex-direction: column;
    margin-top: 1.3em;
}


.icones li{
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
    
.icone-home {
    width: 1.5em;
    margin-right: 10px;
}

.icone-pesquisa {
    width: 1.5em;
    margin-right: 10px;
}

.icone-explorar {
    width: 1.5em;
    margin-right: 10px;
}

.icone-reels {
    width: 1.5em;
    margin-right: 10px;
}

.icone-mensagens {
    width: 1.5em;
    margin-right: 10px;
}

.icone-notificacoes {
    width: 1.5em;
    margin-right: 10px;
}

.icone-criar {
    width: 1.5em;
    margin-right: 10px;
}

.icone-perfil {
    width: 2em;
    margin-right: 10px;
}

/* main */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.story {
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 10px;
    padding: 15px 0px;
}


.story ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-story {
    width: 6em;
}


.publi {
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 10px;
    width: 36em;

    margin-top: 1.2em;
}

.perfil-publi {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(0, 0, 0, 0.123);

    padding: 5px 0;
}

.perfil-publi li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-publi {
    width: 3.5em;
}

.pontos-publi {
   padding-bottom: 20px;
   font-size: 2em;
   margin-right: .60em;
}

.mid-publi {
    width: auto;
    height: auto;
}

.img-publi {
    width: 100%;
    height: 100%;
}


.interacao {
    display: flex;
    align-items: center;
    

    border-top: 1px solid rgba(0, 0, 0, 0.123);
}

.interacao li {
    margin: 1em;
}

.icon {
    width: 1.5em;
}


.last-publi {
    margin: 1.1em;
    margin-bottom: 0;
}

.text-mid {
    margin: 1.1em 1.1em 1.1em 0;
    
}

.text-comentarios  a{
    color: rgba(0, 0, 0, 0.5);
}

.meu-perfil ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-perfil3 {
    width: 4em;
}


.text-comentarios {
    margin-bottom: 1.3em;
}

.comente {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 3.5em;

    margin-bottom: 0;
    
    border-top: 1px solid rgba(0, 0, 0, 0.123);
    
}

.emoji {
    width: 1.5em;
}

.input {
    border: none;
}


/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

    margin-left: 2em;
    margin-top: .7em;

}

.meu-perfil {
    display: flex;

    width: 30vw;
}

.meu-perfil ul {
    width: 30vw;
    justify-content: left;
}

.name-perfil li{
    margin-left: 15px;

    font-size: 0.90em;
}

.mudar{
    margin-left: 10em;
    color: rgb(0, 150, 250);
}

.img-perfl2 {
    width: 3.5em;
}


.sugestoes {
    width: 30vw;
}

.ver-mais {
    display: flex;
    
    margin-bottom: 2em;
}

.colorsuges {
    color: rgba(102, 102, 102, 0.829);
}

.ver-tudo {
    margin-left: 8em;
}

.perfis {

    margin-bottom: 15px;
}

.perfis ul {
    display: flex;
    align-items: center;
}

.perfis li {
    display: flex;
    align-items: center;
}

.perfis li p {
    margin-left: .80em;
}

.img-perfis {
    width: 2em;
}

.seguir {
    margin-left: 10em;
    color: rgb(0, 150, 250);
}

